{
  "env": {
    "production": {
      "only": [ "src" ],
      "presets": [
        "babel-preset-es2015"
      ],
      "plugins": [
        [ "babel-plugin-unassert" ]
      ]
    },
    "development": {
      "only": [ "test" ],
      "presets": [
        "babel-preset-power-assert"
      ]
    }
  }
}
